<div>

     {{#if alert}}
    <div class="alert alert-danger" role="alert">{{alert}}</div>
        <!--<p style="color:aliceblue">{{loginMessage}}</p>-->
    {{/if}}

    <form name="MyForm" method=post action="/forgotPass">
        <div class = "row-mb-3">
            <label for="inputEmail4" class="form-label" style="color:aliceblue">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email">
        </div>
        <div class="row-mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color:aliceblue">New Password</label>
            <input type="password" name="pass1" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="row-mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color:aliceblue">Confirm Password</label>
            <input type="password" name="pass2" class="form-control" id="exampleInputPassword2">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>