<div>
        <!--    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="https://wallpapercave.com/wp/wp2971379.jpg" class="d-block w-100" alt="..." style="height:500px;width:160px">
                    </div>
                    <div class="carousel-item">
                    <img src="https://media.gq.com/photos/57fc7db7efd8450b0917b398/16:9/w_2580,c_limit/9b9869808e39c646d97412082e045fc88e47fc80.jpg" class="d-block w-100" alt="..." style="height:500px;width:160px">
                    </div>
                    <div class="carousel-item">
                    <img src="https://i.redd.it/wy87qhaefek51.jpg" class="d-block w-100" alt="..." style="height:500px;width:160px">
                    </div>
                </div>
            </div> -->
        <div class="container">
            <img src="/img/logo.png" class="rounded mx-auto d-block" style="width:50px height:50px">

            <div class="row g-3">
                <!-- Formal Shoes-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Formal</h5>
                            <p class="card-text">Make the room yours with our collection of formal footware.</p>
                            
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="/listprod" class="btn btn-tertiary">Shop Men</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Women</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Kids</a>
                        </ul> 
                    </div>
                </div>
                <!-- Athletic Shoes-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Athletic</h5>
                            <p class="card-text">Get active with our selection of athletic footware.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="/listprod" class="btn btn-tertiary">Shop Men</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Women</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Kids</a>
                        </ul>
                    </div>
                </div>
                <!-- Lifestyle Shoes-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lifestyle</h5>
                            <p class="card-text">Own the street with our latest in lifestyle footware.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="/listprod" class="btn btn-tertiary">Shop Men</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Women</a>
                            <a href="/listprod" class="btn btn-tertiary">Shop Kids</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



</div>
