<div class="mb-3">

    <h3 style="color:aliceblue">Please Login to System</h3>
    {{#if loginMessage}}
    <div class="alert alert-danger" role="alert">{{loginMessage}}</div>
        <!--<p style="color:aliceblue">{{loginMessage}}</p>-->
    {{/if}}
    {{#if authenticatedUser}}
    <div class="alert alert-danger" role="alert">Invalid username or password</div>
    {{/if}}
    

    <br>
    <form name="MyForm" method=post action="/validateLogin">
        <div class="row-mb-3">
          <label for="exampleInputEmail1" class="form-label" style="color:aliceblue">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="row-mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color:aliceblue">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/forgotPassword" class="btn btn-outline-light" role="button">Forgot Password</a>
    </form>

</div>